.heading {
    font-size: 23px;
    box-shadow: 5px 5px 5px black;
    width: 100%;
}
.note {
    font-size: 15px;
    color: black;
}
.footer {
    position: fixed;
    bottom: 0;
    color: black;
    text-align: center;
    background-color: gray;
    width: 100%;
    line-height: 3;
}
canvas {
    border: 5px solid greenyellow;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}